<!DOCTYP html>
<html>
  <head>
    <title>Abishek Careers</title>
  </head>
  <body>
    <h1>Abishek</h1>
    <img scr="https://abishek-career-website--      abisheks922000.repl.co/static/banner.jpeg" height="320">
    <h2>About Abishek</h2>
    <p>
      Hey there, I'm Abishek, a passionate problem solver with a knack for deciphering data and turning it into actionable insights. Armed with a degree in Mechanical Engineering, my journey has been a fascinating exploration into the world of technology and analytics.
    </p>
    <h2>Background</h2>
    <p>
      I graduated from Thiagarajar College of Engineering in 2021, majoring in Mechanical Engineering with an overall CGPA of 72%. However, my passion for technology, particularly in the realms of data analysis, artificial intelligence, and machine learning, ignited a fervor within me that led me to delve deeper into this field.
    </p>
    <h2>Touch with me</h2>
    <p>
      I'm always open to discussing new technologies and strategies that can help me achieve my
    </p>
    <button>Contact Me</button>
    
    
  </body> 
</html>